.App {
  text-align: center;
}

input, button, textarea {
  font-size: 24px;
}
select {
  font-size: 18px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-bar {
  color: #f8f8f8;
  margin-top: 20px;
}

.App-buckets {
  display: flex;
}

.App-bucket {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.App-bucket-header {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.App-bucket-input {
  flex: 1;
  font-weight: bold;
  padding: 10px;
  color: #f8f8f8;
  border: 0;
}

/* link */
.App-button {
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: bold;
}

.App-example-textarea {
  flex: 1;
  padding: 10px;
  font-size: 18px;
  width: 90%;
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 5px;
  resize: none;
}

.App-example-textarea:hover {
  border: 2px solid black;
  border-radius: 5px;
}

.App-button-train {
  display: block;
  background: orange;
  color: white;
  border: 1px solid darkorange;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.App-sentence {
  margin-bottom: 10px;
}
.App-test-sentence-input {
  width: 90%;
  font-size: 18px;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid white;
}
.App-test-sentence-input:hover {
  border: 2px solid black;
  border-radius: 5px;
}

.App-results {
  width: 90%;
  background: #282c34;
  margin-top: 20px;
}

.App-result {
  width: 100%;
  position: relative;
  background: white;
  color: black;
  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.App-ingredients {
  margin-top: 40px;
  margin-bottom: 40px;
}

.App-debug {
  font-size: 10px;
  width: 800px;
  color: #666;
  background: white;
  padding: 15px;
  text-align: left;
}